.user-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .user-card {
    display: flex;
    align-items: start;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    max-width: 600px;
  }
  
  .user-card img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
  }
  
  .user-info h3 {
    margin: 0;
    font-size: 18px;
  }
  
  .pagination-controls {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination-controls button {
    margin: 0 5px;
    padding: 5px 10px;
    font-size: 16px;
  }
  